


<button id="Light it up!" onclick="window.location.href='/answer/<%= @deck.category %>/<%= @card.id%>/<%= @round.id %>'">
<h1><%= @user.first.username %> welcome to Flashcards! </h1>
<h1>Start a game</h1>
